# Agda interface files
*.agdai
.xdg/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdfsync
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*-blx.bib
